*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    height: 100vh;
}

.table{
    display: grid;
    grid-template-columns: 2em 2em 2em;
    grid-template-rows: 2em 2em 2em;
    font-size: 2em;
    --border:2px solid orange;
}

.table.div {
    text-align: center;
    font-size: 1.5em;
    user-select: none;
}

.table.div:nth-child(1),.table.div:nth-child(3),
.table.div:nth-child(4),.table.div:nth-child(6){
    border-bottom: var(--border);
}

.table.div:nth-child(2), .table.div:nth-child(5){
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

.table.div:nth-child(8){
    border-left: var(--border);
    border-right: var(--border);
}

.x {
    color: palegreen;
}

.z{
    color: purple;
}
