body{
border:outset;
line-height: 1.9em;
    }


p{
   background-color:#7FFFD4;
   background-image: url(background.gif);
   background-repeat:no-repeat;
   margin:1em;
   border:whitesmoke dashed;
   padding:30px 80px 20px;
   text-align: justify;
   width:auto;
   height:auto;
   font-style: italic;
   font-family:serif;
}