table{
    margin:auto;
    margin-top: 20px;
    border:2px solid tan;
    background-color:yellow;
    border-spacing: 0px;
    border-collapse: collapse;
}

th{
background-color: thistle;
border-bottom: 2px solid black;
text-align: left;
}

td{
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: hotpink;
}

tr:nth-child(even) {
    background-color: green;


}