body{
  background-color: tan;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;

}

h1{
  color:dark;
  font-style:normal;
  font-size: 40px;
}

h2,h3{

font-size: 25px;
}

span{
  font-style: italic;
  color: saddlebrown;
  font-size: 25px;
}

#special{
  font-style: italic;
  color: #73008c
}
