* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

.container{
    font-family: sans-serif;
}

h1 {
    color: rgb(255, 123, 0);
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
    padding:5% 28% 3%;
}

.photo {
    border-right: solid #008fb3 3px;
    padding: 0.5em 0.8em 0.6em 14em;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
}

.photo p{
    color:#838282;
    text-align:right;
    padding-right: 65px;
    font-size: 0.9em;
}

.aboutme{
    display: inline-block;
    vertical-align:top;
    position: absolute;
    padding:2.5em;
    line-height: 2.7em;
}

h2{
    color:#008fb3;
    text-align: left;
}

.aboutme p{
    color:#8f8e8e;
    width: 55%;
    height: 90%;
    font-size:0.9em;
}




